html {
    font-size: 1em;
}

body {
  font-family: Georgia,"Times New Roman",Times,serif;
  font-size: 1rem;
  line-height: 1.2;
  color: #1c2619;
  background-color: #bfc4bb;
}

.main-container {
    max-width: 100% !important;
}

.navbar-default {
    background-color: #4d5f43;
    border-color: #8f9a72;
    font-size: 0.8rem;
}

.navbar-default .navbar-brand {
    color: #d3dbc3;
    font-size: 0.8rem;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #8f9a72;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #eee;
}

.navbar-default .navbar-nav > li > a {
     color: #d3dbc3;
}

.navbar-default .navbar-nav > .active > a:hover {
    color: #eee;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #eee;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #eee;
}

.dropdown-menu {
  font-size: 0.8rem;
  background-color: #bfc4bb;
  border: 1px solid #8f9a72;
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 4px;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  color: #eee;
  background-color: #4d5f43;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  background-color: #708b66;
}

.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

#TOC {
  font-family: "Liberation Sans", Arial, sans-serif;
  font-size: 0.8rem;
/*   margin-top: 4rem !important; */
}

div.tocify {
  max-width: 95% !important;
}

.list-group-item {
    background-color: #bfc4bb;
    border-color: #8f9a72;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    color: #d3dbc3;
    background-color: #708b66;
    border-color: #708b66;
}

.toc-content {
    padding-left: 0px !important;
    padding-right: 1rem;
}

pre:not([class]) {
    background-color: #bbc3ad;
}

pre.sourceCode {
    background-color: #bfc4bb;
}

pre {
    font-size: 1rem;
    color: #1c2619;
    background-color: #bbc3ad;
    border: 1px solid #8f9a72;
    border-radius: 4px;

}

blockquote {
  font-size: 1rem;
  border-left: 5px solid #708b66;
}

div.NB {
  padding: 1em 1em 1em 5em;
  margin-bottom: 1em;
  border-radius: 0.5rem;
  background: url(assets/NB.png) 5px center no-repeat #4d5f43;
  color: #bbc3ad;
}


